[defaults]
inventory = inventories/workstation/hosts.yml
roles_path = roles
collections_path = .ansible/collections
retry_files_enabled = False
interpreter_python = auto_silent

[privilege_escalation]
become = True
become_method = sudo
