[org/gnome/desktop/background]
picture-uri='{{ gnome_wallpaper_uri }}'
picture-uri-dark='{{ gnome_wallpaper_uri }}'
picture-options='zoom'

[org/gnome/desktop/screensaver]
picture-uri='{{ gnome_wallpaper_uri }}'
idle-activation-enabled={{ gnome_idle_activation_enabled | lower }}

[org/gnome/desktop/interface]
color-scheme='{{ gnome_color_scheme }}'
accent-color='{{ gnome_accent_color }}'
gtk-theme='{{ gnome_gtk_theme }}'
clock-format='{{ gnome_clock_format }}'

[org/gnome/desktop/session]
idle-delay=uint32 {{ gnome_idle_delay_seconds }}

[org/gnome/desktop/input-sources]
sources=[('xkb', '{{ gnome_keyboard_layout }}')]

[org/gnome/shell]
enabled-extensions={{ gnome_shell_enabled_extensions | string }}
favorite-apps={{ gnome_favorite_apps | string }}

[org/gnome/shell/extensions/dash-to-dock]
intellihide={{ gnome_dash_to_dock_intellihide | lower }}
intellihide-mode='{{ gnome_dash_to_dock_intellihide_mode }}'
dock-position='{{ gnome_dash_to_dock_position }}'
height-fraction={{ gnome_dash_to_dock_height_fraction }}
apply-custom-theme={{ gnome_dash_to_dock_apply_custom_theme | lower }}

[org/gnome/shell/extensions/openbar]
bradius={{ gnome_openbar_border_radius }}
neon={{ gnome_openbar_neon | lower }}
bcolor={{ gnome_openbar_border_color | string }}
dark-bcolor={{ gnome_openbar_border_color | string }}
light-bcolor={{ gnome_openbar_border_color | string }}

[org/gnome/shell/extensions/spotify-controls]
position='{{ gnome_spotify_controls_indicator_position }}'

[org/gnome/shell/extensions/workspace-indicator]
embed-previews={{ gnome_workspace_indicator_embed_previews | lower }}
