[Login]
HandleLidSwitch={{ gnome_logind_handle_lid_switch }}
HandleLidSwitchExternalPower={{ gnome_logind_handle_lid_switch_external_power }}
HandleLidSwitchDocked={{ gnome_logind_handle_lid_switch_docked }}
